@model List<Cliente>
<a style="font-size: 20px" class=" card p-1 btn btn-primary" href="/Cliente/Create">Adicionar</a>
<br />
<div class="card p-3">
<table style="border-radius: 4px;" class="p-3 table table-striped table-light table-hover">
    @if (Model != null)
    {
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>email</th>
            <th></th>
        </tr>        
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.IdCliente</td>
                <td>@p.Nome</td>
                <td>@p.Email</td>
                <td>
                    <a class="btn btn-sm btn-success" href="/Cliente/Update/@p.IdCliente">Editar</a>
                    <a class="btn btn-sm btn-warning" href="/Cliente/Delete/@p.IdCliente">Apagar</a>
                </td>
            </tr>
        }
    }
    else
    {
    <tr>
        <td> VOLTOU NULL </td>
    </tr>
    }
    </table>
</div>