<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Linguagem de Programação - UNIRP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Loyout.css" />
    <header>      
        <nav class=" p-auto navbar navbar-default navbar-fixed-top navbar-expand-sm navbar-toggleable-sm box-light box-shadow mb-5 ">
            <img src="~/images/Furininha.png" class="mr-4">
            <div class="mx-auto">  
                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><b><i>Furina's Burguers</i></b></a>
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><b>Home </b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Produto" asp-action="IndexProd"><b>Produto </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="IndexCliente"><b>Cliente </b></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <img src="~/images/FurininhaD.png" class="ml-4">
        </nav>
    </header>
</head>
<body>
    <style>       
        </style>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="p-auto footer text-muted">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <img src="~/images/WhatsApp.png" alt="WhatsApp" class="img-fluid"> (17) 92349-3858
                </div>
                <div class="col-md-2">
                    <img src="~/images/Facebook.png" alt="Facebook" class="img-fluid"> Furina s Burguer
                </div>
                <div class="col-md-2">
                    <img src="~/images/Instagram.png" alt="Instagram" class="img-fluid"> "@@FurinasBurguer"
                </div>
                <div class="col-md-2">
                    <img src="~/images/Logo_CCO2.png" alt="Instagram" class="img-fluid">  
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>